

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color: #d35400;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

/*navbar font color */
.navbar-brand {
	color: #d35400;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #d35400;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: orange; /*BACKGROUND color for active*/
background-color: #030033;
}

  .navbar-default {
    background-color: #d35400;
    border-color: #030033;
}

.navbar-default .navbar-nav > li > a {
   color: orange; /*Change active text color here*/
    }

    /*center form */
    .center_div{
    margin: 0 auto;
    width:50%;
    margin-top: 10%;
}


.costume_match {
	text-align: center;
}















